/*********** Color Scheme************
Planned site color palette:

Primary green (#800000) — used for headers, nav bar, buttons

Soft Light Gray (#f5f7fa) — used for backgrounds

Dark Gray (#222) — used for paragraph text

Primary Font: Roboto — for body text

Secondary Font: Montserrat — for headings and UI elements

Hamburger open icon: \2630
Hamburger closing icon: \00D7*/

* {
    margin: 0;
    padding: 0;
    min-width: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header, main, footer {
    margin: 0 auto;
}

/*************** HEADER SECTION **************/
header {
    display: grid;
    grid-template-columns: 24px auto auto;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #222;
    column-gap: 6px;
    color: #fff;
    background: linear-gradient(
    to right,
    #920101 0%,      /* dark left */
    #da3131 25%,     /* lighter */
    #c94a50 50%,     /* lightest center */
    #da3131 75%,     /* lighter */
    #920101 100%     /* dark right */
  );
}

header > img { /***logo***/
    width: 100%;
    height: 16px;
    margin: 3px 4px;
}

span {
    display: block;
    font-size: 1rem;
    margin: 0 4px;
}
 
span > .my-span {
    opacity: 80%;
    font-style: italic;
}

.message-box {
    display: flex;
}

.message-box label > img {
    margin-top: 1.7rem;
}

/*************** HAMBURGER **************/
.hamburger {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    margin: 0 0;
    cursor: pointer;
    
}

.hamburger::before {
    content: "\2630";
    font-size: 1.2rem;
    color: #fff;
}

.hamburger.show::before {
    content: " \00D7";
    font-size: 1.5rem;
    color: #fff;
}
/********** NAVIGATION MENU ********/

.nav-links {
    display: none;
}

.nav-links.show {
    display: block;
}

.nav-links ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0;

    
}

.nav-links a {
    display: block;
    margin-top: 18px;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.1);
    width: 19rem;
    height: 2rem;
    cursor: pointer;
}

a:hover {
    text-decoration: underline
}

/************* MAIN ****************/
main {
    display: grid;
    grid-template-columns: 18rem auto;
    column-gap: 20px;
}
h1 {
    margin: 0 10px;
    color: #222;
}

li .home-page { /****Way finding ****/
    width: 17.6rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.first-screen {
    background-color: #ffab7a;
    .side-bar {
        width: 12rem;
        height: auto;

        & ul {
            margin-top: 5rem;
        }

        & li {
            margin: 30px 10px;
        }

        & a {
            text-decoration: none;
            font-size: 1rem;
            color: #800000;
        }
    }
}





/***************** FOOTER *************/
footer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    background-color: #800000;
    text-align: center;
    padding: 0.5rem 10px;
    width: 20rem;
    height: 60rem;
    font-style: italic;
}

.sacred-contact {
    text-align: center;
    margin-top: 2rem;
    width: 18rem;
}

.vjt-service {
    text-align: center;
    margin-top: 2rem;
    width: 18rem;
}

.social-media {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #f8d0d0 solid 1px;
    border-radius: 4px;
    background-color: #fff;
}

.social-media img {
    width: 22px;
    height: 22px;
}

.social-media a:hover {
    background-color: #f8d0d0;
}

footer p {
    color: #fff;
    font-size: 0.7rem;
    margin: 0;
    padding-bottom: 4px;
    font-size: 1.5rem;
}

footer h3 {
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 4px;
    margin: 0;
    font-size: 2rem;
}


.privacy-policy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(
    to right,
    #920101 0%,      /* dark left */
    #bb1919 25%,     /* lighter */
    #c94a50 50%,     /* lightest center */
    #da3131 75%,     /* lighter */
    #920101 100%     /* dark right */
    );
    justify-content: space-between;
    align-items: end;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    font-size: 0.8rem;
    width: 20rem;
    height: 3rem;
    padding-bottom: 10rem;
}

.privacy-policy .p0 {
    margin-right: 1rem;
}

.privacy-policy .p {
    margin-left: 12rem;
}

