@media only screen and (min-width: 64rem) {
    header, main, footer {
        margin: 0 auto;
    }

    header {
        width: 100%;
    }
    /********* HAMBURGER ********/
    .hamburger {
        display: none;
    }

    /********* NAVIGATION MENU ********/
    .nav-links {
        display: block;
        border-bottom: none;
    }

    .nav-links ul {
        display: flex;
        margin-left: 30rem;
    }

    .nav-links a {
        border: none;
        width: auto;
    }

    header aside {
        padding-left:30rem;
    }

    /********** Attendance Section **********/
    .attendance-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    /********** HERO SECTION **********/
    .hero-section {
        width: 82.6rem;
    }
    .hero-section .hero-text {
        top: 20%;
        font-size: 1.6rem;
        left: 20%;
        width: 35rem;
    }

    .hero-section .hero-signup {
        top: 100%;
        font-size: 0.9rem;
    }

    .my-dialog {
        width: 50rem;
        height: 25rem;
    }

    /***************** Staff Grid **********/
    .staff-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 10px 100px;
    }

    .staff-container {
        width: 15rem;
    }

    .staff-container h3 {
        width: 15rem;
    }

    .staff-intro {
        grid-template-columns: 1fr 1fr; 
    }

    /********** Level Section*************/

    .level > p {
        width: 80rem;
        font-size: 3.5rem;
    }

    /**************** Prop Sec Section******************/
    .prop-sec {
        grid-template-columns: 1fr 1fr;
    }

    .prop-sec img {
        width: 30rem;
    }
    
    .prop-sec p {
        width: 50rem;
        margin: 1rem 1rem;
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
    }
    
    .first-span {
        font-size: 1.4rem;
        color: #800000;
        margin-bottom: 1rem;
    }
    
    .second-span {
        color: #222;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    
    .third-span {
         color: #222;
        font-size: 1.4rem;
    }

    

    /*************** Announcement & Events SECTION **************/
    .an-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .announcement-content, .up-events {
        grid-template-columns: 24px 530px auto;
    
    }
    
    /********** Creche section **********/
    

    .creche-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .creche-container img {
        width: 30rem;
    }

    .admiss-sec-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .admiss-sec-container > img {
        width: 50rem;
        margin: 0 0;
    }

    /*form section*/
    form {
	    margin-left: 26rem;
        width: 30rem;
    }

    /***************** About Us Section *************/
    .screen-grid {
        grid-template-columns: 240px auto 204px;
        column-gap: 40px;
    }

    .first-screen {
        width: 14rem;
    }

    .contact-us {
        width: 15rem;
    }

/*************Second Screen Section ***********/
    .second-screen {
        width: 20rem;
    
        > h2 {
            width: 45rem;
        }

        .offer {
            border-bottom: 1px solid #222;
            width: 45rem;

        & p {
                width: 45rem;
                font-size: 1.3rem;
            }
        }
    
        .map {
            border-bottom: 1px solid #222;
            width: 45rem;
    
            & iframe {
                width: 45rem;
                height: 20rem;
            }
        }
    
        .department {
            width: 30rem;
            margin-left: 6rem;
        }
        
        .admission, 
        .school-office,
        .hall-house {
            width: 20rem;
            margin-left: 10rem;

            & p {
                font-size: 1.3rem;
            }
        }
    
    }

    .third-screen-container {
        margin: 10px 25px;
    }
    
    .third-screen {
        width: 11rem;
        margin: 0 0;
    }

    .third-screen img {
        width: 10rem;
    }
    

    /********** FOOTER SECTION **********/
    footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 0.5rem 10px;
    width: 100%;
    height: auto;
    margin-top: 10rem;
}

    .profile-card {
      grid-template-columns: 1fr 1fr;
    }
  
    .profile-card p {
      flex-direction: column;
      align-items: flex-start;
    }

    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }

    .gallery-img{
        width: 250px;
        
    }

    .privacy-policy {
        grid-template-columns: 1fr 1fr;
        font-size: 1rem;
        width: 83.2rem;
        padding: 0 10px;
        padding-bottom: 1px;

        .p0 {
            margin-left: 0;
        }

        .p {
            margin-left: 35rem;
        }
    }

    .sacred-contact {
        text-align: center;
        margin-top: 2rem;
        width: 30rem;
    }
    
    .vjt-service {
        text-align: center;
        margin-top: 2rem;
        width: 30rem;
    }
    
}