@media only screen and (min-width: 64rem) {
    header, main, footer {
        margin: 0 auto;
    }
    /********* HAMBURGER ********/
    .hamburger {
        display: none;
    }

    /********* NAVIGATION MENU ********/
    .nav-links {
        display: block;
        border-bottom: none;
    }

    .nav-links ul {
        display: flex;
        margin-left: 30rem;
    }

    .nav-links a {
        border: none;
        width: auto;
    }

    header aside {
        padding-left:30rem;
    }

    /********** Attendance Section **********/
    .attendance-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    /********** HERO SECTION **********/
    .hero-section .hero-text {
        top: 20%;
        font-size: 1.6rem;
        left: 20%;
        width: 35rem;
    }

    .my-dialog {
        width: 50rem;
        height: 25rem;
    }

    /***************** Staff Grid **********/
    .staff-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 10px 100px;
    }

    .staff-container {
        width: 15rem;
    }

    .staff-container h3 {
        width: 15rem;
    }

    .staff-intro {
        grid-template-columns: 1fr 1fr; 
    }

    /********** Level Section*************/

    .level > p {
        width: 80rem;
        font-size: 3.5rem;
    }

    /**************** Prop Sec Section******************/
    .prop-sec {
        grid-template-columns: 1fr 1fr;
    }

    .prop-sec img {
        width: 30rem;
    }
    
    .prop-sec p {
        width: 50rem;
        margin: 1rem 1rem;
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
    }
    
    .first-span {
        font-size: 1.4rem;
        color: #800000;
        margin-bottom: 1rem;
    }
    
    .second-span {
        color: #222;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    
    .third-span {
         color: #222;
        font-size: 1.4rem;
    }

    

    /*************** Announcement & Events SECTION **************/
    .an-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .announcement-content, .up-events {
        grid-template-columns: 24px 530px auto;
    
    }
    
    /********** Creche section **********/
    

    .creche-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .creche-container img {
        width: 30rem;
    }

    .admiss-sec-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .admiss-sec-container > img {
        width: 50rem;
        margin: 0 0;
    }
    

    /********** FOOTER SECTION **********/
    footer {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        text-align: left;
        margin-top: 20px;
    }

    .profile-card {
      grid-template-columns: 1fr 1fr;
    }
  
    .profile-card p {
      flex-direction: column;
      align-items: flex-start;
    }

    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }

    .gallery-img{
        width: 250px;
        
    }
}